html, body{
    height: 100%;
    background-color: #404040;
}

div {
  box-shadow: 10px 10px 5px deeppink;
}

div.big_center{
    display: block;
    float: left;
    background-color: darkorange;
    padding: 1%;
    width: 70%;
    margin-left: 12%;
    margin-top: 3%;
}

div.second_center{
    display: block;
    float: left;
    background-color: darkorange;
    padding: 1%;
    width: 70%;
    margin-left: 12%;
    margin-top: 3%;
}

div.left{
    display: block;
    float: left;
    background-color: darkorange;
    padding: 1%;
    width: 20%;
    height: 35%;
    margin-left: 17%;
    margin-top: 3%;
}

div.right{
    display: block;
    float: left;
    background-color: darkorange;
    padding: 1%;
    width: 35%;
    height: 35%;
    margin-left: 3%;
    margin-top: 3%;

}

div.top{
    display: block;
    float: left;
    background-color: darkorange;
    padding: 1%;
    width: 70%;
    height: 6%;
    margin-left: 12%;
    margin-top: 5%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
    width: 100%;
    height: 100%;
    font-size: larger;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: lightskyblue;
}

div.bottom{
    display: block;
    float: left;
    background-color: darkorange;
    padding: 1%;
    width: 60%;
    height: 7%;
    margin-left: 17%;
    margin-top: 3%;
}

div.inside{
    background-color: white;
    width: 100%;
    height: 100%;
    box-shadow: none;
}

fieldset{
    height: 400px;
}

textarea{
    resize: none;
    width: 100%;
    height: 70%;
    border-radius: 4px;
    box-sizing: border-box;
}

table.new_question{
    width: 100%;
    height: 100%;
}