<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_v2.css') }}">
</head>
    <body>

    <div class="top">
        <div class="inside">
            <ul>
                <li><a href="/">Main Menu</a></li>
                <li><a href="add">Add question</a></li>
                <li><a href="list">Questions</a></li>
                <li id="about"><a href="about">About</a></li>
            </ul>
        </div>
    </div>

    <div class="left">
        <div class="inside">
            Hottest Question
        </div>
    </div>
    <div class="right">
        <div class="inside">
            Newest Question:
            <table class="new_question">
                <td>{{ new['title'] }} </td>
                <td>{{ new['message'] }} </td>
                <td>{{ new['submission_time'] }} </td>
                <td>{{ new['view_number'] }} </td>
                <td>{{ new['vote_number'] }} </td>
            </table>
        </div>
    </div>

    <div class="bottom">
        <div class="inside">

        </div>
    </div>

    </body>
</html>
