<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Browse Questions</title>
</head>
<body style="height: 100%">
<nav class="navbar bg-light navbar-light fixed-top" style="background-color: lightgrey">
    <ul class="nav nav-pills">
        <li class="nav-item"><a class="nav-link" href="/">Main Menu</a></li>
        <li class="nav-item"><a class="nav-link" href="/add_question">Add Question</a></li>
        <li class="nav-item"><a class="nav-link active" href="/list">Browse Questions</a></li>
        <li class="nav-item"><a class="nav-link" href="/ranking">Ranking</a></li>
        {% if login %}
            <li class="nav-item"><a class="nav-link" href="/my_page">{{ login }}</a></li>
        {% else %}
            <li class="nav-item"><a class="nav-link" href="/login"><img class="" src="/static/images/user.svg" style="height: 20%; width: 20%">Log in</a></li>
        {% endif %}
    </ul>
    <ul class="nav float-right">
        <li class="nav-item">
            <form class="form-inline" action="/">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </li>
    </ul>
</nav>
<div class="container col-12 d-flex justify-content-center d-inline-block" style="background-color: #ccefff; min-height:100%">
    <div class="container col-8 d-inline-block border border-secondary border-bottom-0" style="background-color: white; min-height:100%">
        <div class="container col-12" style="margin-top: 8%">
            <a href="/list/sorted/by_date" role="button" class="btn btn-secondary col-4 float-left">Sort by Submission Time</a>
            <a href="/list/sorted/by_view" role="button" class="btn btn-info col-4 float-left">Sort by View Number</a>
            <a href="/list/sorted/by_vote" role="button" class="btn btn-primary col-4 float-left">Sort by Vote Number</a>
            <br>
            <br>
            <hr>
            {% for question in questions %}
                <div class="container bg-light shadow p-2 d-flex rounded-sm col-12" style="margin-bottom: 2%"> <!-- Python Functions -->
                    <div class="col-sm-2 float-left" style="overflow: hidden; white-space: nowrap;"><a href="/show_question/{{ question['id'] }}">{{ question['title'] }} </a></div>
                    <div class="col-sm-4 float-left" style="overflow: hidden; white-space: nowrap;"><p>{{ question['message'] }}</p></div>
                    <div class="col-sm-3 float-left"><p>{{ question['submission_time'] }}</p></div>
                    <div class="col-sm-1 float-left"><img src="/static/images/view.png" style="height: 30%; width: 30%"><p>{{ question['view_number'] }}</p></div>
                    <div class="col-sm-1 float-left"><a href="/list/{{ question['id'] }}/up"><img src="/static/images/arrow_up.png" style="height: 33%; width: 33%"></a><p style="margin-bottom: 0px">{{ question['vote_number'] }}</p><a href="/list/{{ question['id'] }}/down"><img src="/static/images/arrow_down.png" style="height: 33%; width: 33%"></a></div>
                    <div class="col-sm-1 float-left"><p>None</p></div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<footer class="page-footer font-small blue bg-light">
  <div class="footer-copyright text-center py-3">© 2019 copyright: Über Team</div>
</footer>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>