<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add question</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_v2.css') }}">
</head>
    <body>
        <div class="top">
            <div class="inside">
                <ul>
                    <li><a href="/">Main Menu</a></li>
                    <li><a href="/add">Add question</a></li>
                    <li><a href="/list">Questions</a></li>
                    <li id="about"><a href="/about">About</a></li>
                </ul>
            </div>
        </div>
        <div class="big_center">
            <div class="inside">
                <table>
                    <td>{{ question['title'] }} </td>
                    <td>{{ question['message'] }} </td>
                    <td>{{ question['submission_time'] }} </td>
                    <td>{{ question['view_number'] }} </td>
                    <td>{{ question['vote_number'] }} </td>
                    {% if question['image'] %}
                    <td><img src="/static/{{ question['image'] }}" alt="Example image" class="img-thumbnail" style="height:70px; width:auto;"></td>
                    {% else %}
                        <td><img src="http://placehold.it/80" alt="Example image" class="img-thumbnail" style="height:70px; width:auto;"></td>
                    {% endif %}
                    <form method=POST enctype=multipart/form-data action='/upload?question_id={{ question["id"] }}'>
                        <label class="btn btn-primary btn-sm">
                            Browse <input type="file" style="display: none;" name="photo">
                        </label>
                    </form>
                    <button class="btn btn-primary btn-sm" type="submit">Upload</button></form></td>
                    <td><a href="/question/{{ question['id'] }}/delete"><i class="fas fa-trash text-danger"></i></a></td>
                    <a href="/question/{{ question['id'] }}/new-answer"><button><span>Answer</span></button></a>
                    <a href="/show_question/{{ question['id'] }}/edit"><button><span>(R)Eddit</span></button></a>
                </table>
            </div>
        </div>
        </br>
        <div class="second_center">
            <div class="inside">
                <table id="answers">
                {% for answer in answers  %}
                    <tr>
                    <td>{{ loop.index }} </td>
                    <td width="60%">{{ answer['message'] }} </td>
                    <td>{{ answer['submission_time'] }} </td>
                    {% if answer['vote_number']|int < 0 %}
                        <td class="red" >{{ answer['vote_number'] }} </td>
                    {% elif answer['vote_number']|int == 0 %}
                        <td class="yellow" >{{ answer['vote_number'] }} </td>
                    {% else %}
                        <td class="green" >{{ answer['vote_number'] }} </td>

                    {% endif %}
                    <td><a href="/answer/{{ answer['id'] }}/vote-up/{{ question['id'] }}"> <img border="0" src="/static/up.png" width="50" height="50"></a></td>
                    <td><a href="/answer/{{ answer['id'] }}/vote-down/{{ question['id'] }}"> <img src="/static/down.png" width="50" height="50"></a></td>
                    {% if answer['image'] %}
                                <td><img src="/static/{{ answer['image'] }}" alt="Example image" class="img-thumbnail" style="height:70px; width:auto;"></td>
                            {% else %}
                                <td><img src="http://placehold.it/80" alt="Example image" class="button" style="height:70px; width:auto;"></td>
                            {% endif %}
                    <td><a href="/answer/{{ answer['id'] + '_' + question['id'] }}/delete"><button id="delete" type="submit" formmethod="post"><span>DELETE</span></button></a></td>
                    </tr>
                {% endfor %}
                </table>
            </div>
        </div>
    </body>
</html>