<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Title</title>
</head>
<body style="height: 100%">
<nav class="navbar bg-light navbar-light fixed-top" style="background-color: lightgrey">
    <ul class="nav nav-pills">
        <li class="nav-item"><a class="nav-link" href="/">Main Menu</a></li>
        <li class="nav-item"><a class="nav-link" href="/add_question">Add Question</a></li>
        <li class="nav-item"><a class="nav-link" href="/list">Browse Questions</a></li>
        <li class="nav-item"><a class="nav-link" href="/ranking">Ranking</a></li>
        {% if login %}
            <li class="nav-item"><a class="nav-link" href="/my_page">{{ login }}</a></li>
        {% else %}
            <li class="nav-item"><a class="nav-link" href="/login"><img class="" src="/static/images/user.svg" style="height: 20%; width: 20%">Log in</a></li>
        {% endif %}
    </ul>
    <ul class="nav float-right">
        <li class="nav-item">
            <form class="form-inline" action="/">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </li>
    </ul>
</nav>
<div class="container col-12 d-flex justify-content-center d-inline-block" style="background-color: #ccefff; min-height:100%">
    <div class="container col-8 d-inline-block border border-secondary border-bottom-0" style="background-color: white; min-height:100%">
        <div class="jumbotron col-12 shadow rounded-sm" style="margin-top: 6%">
            {% for object in question %}
                <h1>{{ object['title'] }}</h1>
                <p class="lead">{{ object['message'] }}</p>
                <hr class="my-4">
                <p>{{ object['submission_time'].isoformat(' ')}}{{ object['view_number']}}{{ object['vote_number']}}</p>
                <div class="container col-5 float-right">
                    <a href="/question/{{ object['id'] }}/delete" role="button" class="btn btn-outline-danger float-right">Delete</a>
                    <a href="/show_question/{{ object['id'] }}/edit" role="button" class="btn btn-outline-warning float-right mr-3">Eddit</a>
                    <a href="/question/{{ object['id'] }}/new-answer" role="button" class="btn btn-success float-right mr-3">Answer</a>
                </div>
            {% endfor %}
        </div>
        {% if answers %}
            {% for answer in answers  %}
                <div class="container col-8 shadow p-4 mb-4 bg-light rounded-sm float-left">
                    <p class="lead col-8">{{ answer['message'] }}</p>
                    <hr>
                    <p class="col-6">Posted by: {{ answer['submission_time'].isoformat(' ')}} {{answer['vote_number'] }}</p>
                    {% if comments %}
                        <div class="container col-12">
                        {% set counter = 1 %}
                        {% for comment in comments  %}
                            {% if answer['id'] == comment['answer_id']%}
                                {% set margin = counter * 5 %}
                                <div class="container d-flex col-12">
                                    <p class="lead col-8" style="font-size: small; margin-left: {{ margin }}%">{{ comment['message'] }}</p>
                                    <button class="btn btn-outline-danger col-4 justify-content-center" style="max-height: 20px">Delete</button>
                                </div>
                                {% set counter = counter + 1 %}
                            {% endif %}
                        {% endfor %}
                        </div>
                    {% endif %}
                    <a href="/answer/{{ answer['id'] }}/delete/{{ question[0]['id'] }}" role="button" class="btn btn-outline-danger float-right">Delete</a>
                    <a href="/add_comment/{{ answer['id'] }}" role="button" class="btn btn-outline-warning float-right mr-3">Comment</a>
                    <a href="/answer/{{ answer['id'] }}/vote-up/{{ question[0]['id'] }}" role="button" class="btn btn-outline-success float-left mr-3">Vote up</a>
                    <a href="/answer/{{ answer['id'] }}/vote-down/{{ question[0]['id'] }}" role="button" class="btn btn-outline-danger float-left mr-3">Vote down</a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
<footer class="page-footer font-small blue bg-light">
  <div class="footer-copyright text-center py-3">© 2019 copyright: Über Team</div>
</footer>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>